/* Coming soon */
$font-family: "Montserrat", sans-serif;
$color-white: #fff;
$color-detail-text: #5076db;

/*==============
Page General css
=================*/
body {
  font-family: $font-family;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family;
}
.loader {
  border: 16px solid #111;
  border-top: 16px double #5076db;
  border-bottom: 16px double #5076db;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    Transform: rotate(0deg);
  }
  100% {
    Transform: rotate(360deg);
  }
}
/*==============
  [01] Page css
=================*/
.page-section {
  .content-detail {
    #timer {
      padding: 30px 0;
      color: #111;
      text-align: center;
      text-transform: uppercase;
      .date-box {
        margin: 8px;
        padding: 10px;
        width: 85px;
        height: 85px;
        display: inline-block;
        background-color: rgba(80, 118, 219, 0.99);
        font-size: 28px;
        font-weight: 600;
        z-index: 2;
        color: #fff;
        border-radius: 30px;
      }
      .text {
        font-size: 12px;
        font-weight: 500;
        color: #fff;
      }
    }
  }
}
/* Responsive css */
@media (max-width: 575px) {
  .page-section {
    .content-detail{
      #timer {
        padding: 20px 0;
        .date-box {
          margin: 8px;
          padding: 10px;
          width: 75px !important;
          height: 75px !important;
          font-size: 18px;
          border-radius: 15px !important;
          .text {
            font-size: 11px !important;
          }
        }
      }
    }
  }
}
