/*----  Login, Signup and forget password css  ----*/
$font-family: "Montserrat", sans-serif;
$color-white: #fff;
$color-detail-text: #666;

/*==============
  [00] Page General css
=================*/
body {
	font-family: $font-family;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $font-family;
}
.loader {
	border: 16px solid #111;
	border-top: 16px double #5076db;
	border-bottom: 16px double #5076db;
	animation: spin 2s linear infinite;
}
@keyframes spin {
	0% {
		Transform: rotate(0deg);
	}
	100% {
		Transform: rotate(360deg);
	}
}
@keyframes moveit {
	0% {
		Left: 0;
	}
	50% {
		Left: -50px;
	}
	100% {
		Left: 0;
	}
}
/*==============
  [01] Page css
=================*/
.page-section {
	background: linear-gradient(180deg, #9647db, #180e55);
	overflow: hidden;
	.page-decoration-1 {
		animation: moveit 8s linear infinite;
	}
	.page-decoration-2 {
		animation: moveit 5s linear infinite;
	}
	.page-decoration-3 {
		animation: moveit 7s linear infinite;
	}
}
.login-with-btns{
	.google{
		&:hover{
			i{
				color: #db4437;
			}
		}
	}
	.facebook{
		&:hover{
			i{
				color: #3b5998;
			}
		}
	}
	.twitter{
		&:hover{
			i{
				color: #00acee;
			}
		}
	}
	.linkedin{
		&:hover{
			i{
				color: #0e76a8;
			}
		}
	}
}
/* Login page */
.login-page {
	#particles-js {
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
	}
	.login-form,
	.signup-form,
	.forgot-form {
		box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
		.input-control {
			input[type="text"],
			input[type="email"],
			input[type="password"] {
				&::placeholder {
					font-size: 13px;
				}
			}
			.label-container {
				&:hover input ~ .checkmark {
					background-color: #3c3c3c;
					transition: all 0.3s ease-in-out;
				}
				input[type="checkbox"] {
					outline: 2px solid #868686;
					transition: all 0.3s ease-in-out;
					position: absolute;
					opacity: 0;
					cursor: pointer;
					height: 0;
					width: 0;
					border-radius: 10px;
				}
				.checkmark {
					&:after {
						content: "";
						position: absolute;
						display: none;
						left: 5px;
						top: 1px;
						width: 5px;
						height: 10px;
						border: solid white;
						border-width: 0 2px 2px 0;
						transform: rotate(45deg);
					}
				}
				input:checked ~ .checkmark {
					background-color: #4e3cb4;
					&:after {
						display: block;
					}
				}
			}
		}
	}
}
