/*----  Whatsapp chat start  ----*/
a {
  text-decoration: none !important;
}
.er-style {
	.er-panel {
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.479);
	}
	.er-body {
		&:hover {
			text-decoration: none;
			cursor: pointer;
			.er-user-img {
				transition: all 0.3s ease-in-out;
			}
		}
		li {
			&:hover {
				background-color: rgba(42, 182, 116, 0.07);
				.er-chat-icon {
					color: #555;
					transition: all 0.05s ease-in-out;
					i {
						transition: all 0.3s ease-in-out;
					}
				}
			}
		}
	}
}
.er-right-bottom {
	.er-box {
		&:hover {
			transition: all 0.3s ease-in-out;
			box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
		}
	}
}
@keyframes er-fadein {
	from {
		Opacity: 0;
	}
	to {
		Opacity: 1;
	}
}
.rotateForward {
	animation-name: rotateF;
	animation-duration: 0.65s;
	animation-iteration-count: 1;
}
@keyframes rotateF {
	from {
		Transform: rotate(0deg);
	}
	to {
		Transform: rotate(360deg);
	}
}
.rotateBackward {
	animation-name: rotateB;
	animation-duration: 0.65s;
	animation-iteration-count: 1;
}
@keyframes rotateB {
	from {
		Transform: rotate(360deg);
	}
	to {
		Transform: rotate(0deg);
	}
}